body{
   background-color: #C5E4E7; 
   display: flex;
   width: 1440px;
   height: 1024px;
   flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
html{
    font-family: 'Space Mono', monospace;
}
.bodyDiv{
    height: 304px;
    width: 100vw;
    display: flex;
   align-items: center;
   justify-content: center;
}
.container{
    width: 920px;
height: 481px;
background: #FFFFFF;
box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
border-radius: 25px;
display: flex;
justify-content: space-evenly;
    align-items: center;
}
.card1{
    width: 413px;
height: 417px;
/* background: #0b3334; */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.card2{
    background: #00474B;
border-radius: 15px;
width: 413px;
height: 417px;
}
.div1{
    height: 90px;
    width: 380px;
    /* background: #F3F9FA; */
border-radius: 5px;
display: flex;
flex-direction: column;
align-content: flex-end;
justify-content: center;
flex-wrap: wrap;
}
.bill{
    font-family: 'Space Mono', monospace;
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #5E7A7D;
}
.inputBar{
    width: 379px;
    height: 48px;
    border-radius: 5px;
    background: #F3F9FA;
    display: flex;
    justify-content: space-around;  
      align-items: center;
}
.inputBar:hover{
    cursor: pointer;
    background: #F3F9FA;
border: 2px solid #26C2AE;
border-radius: 5px;
}
.input{
    width: 310px;
    height: 36px;
    background-color: #F3F9FA;
    border: 0px solid #F3F9FA;
    border-color: #F3F9FA;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align:end;
    color: #00474B;
    mix-blend-mode: normal;
    /* opacity: 0.35; */
    display: flex;
}
.input:focus {
    outline-color: #F3F9FA;
  }
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.imgDiv{
    width: 60px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div2{
    height: 170px;
    width: 380px;
    /* background-color: #00474B; */
    display: flex;
    flex-direction: column;
    gap: 16px

}
.SelectTip{
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #5E7A7D;
}
.first{
    height: 50px;
    width: 380px;
background-color: #ffffff;
display: flex;
gap: 14px;
}
.second{
    height: 50px;
    width: 380px;
    background-color: #ffffff;
    display: flex;
    gap: 14px;
}
/* .insidepercents{
    background: #00474B;
    border-radius: 5px;
    width: 117px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.insidepercents:hover{
    background: #9FE8DF;
    color: #00474B;
    cursor: pointer;
}
.insidepercents{
    background: #00474B;
    border-radius: 5px;
    width: 117px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.insidepercents:hover{
    background: #9FE8DF;
    color: #00474B;
    cursor: pointer;
}
.insidepercents{
    background: #00474B;
    border-radius: 5px;
    width: 117px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.insidepercents:hover{
    background: #9FE8DF;
    color: #00474B;
    cursor: pointer;
}
.insidepercents{
    background: #00474B;
    border-radius: 5px;
    width: 117px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.insidepercents:hover{
    background: #9FE8DF;
    color: #00474B;
    cursor: pointer;
} */

.insidepercents{
    background: #00474B;
    border-radius: 5px;
    width: 117px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.insidepercents:hover{
    background-color: #26C2AE;
    /* color: #00474B; */
    cursor: pointer;
}
.active{
    background-color:#26C2AE ;
    border-radius: 5px;
    width: 117px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.costumInput:hover{
    background: #F3F9FA;
border: 2px solid #26C2AE;
cursor: pointer;
border-radius: 5px;
}
.costumInput{
    border: 0px solid #F3F9FA;
    border-color: #F3F9FA;
    background: #F3F9FA;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #547878;
    width: 118px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.costumInput:focus {
    outline-color: #F3F9FA;
  }
  .costumInput::-webkit-outer-spin-button,
.costumInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.div3{
    height: 80px;
    width: 380px;
}
.NumberofPeople{
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #5E7A7D;

}
.bottomInput{
    width: 380px;
    height: 50px;
    background: #F3F9FA;
border-radius: 5px;
display: flex;
justify-content: space-around;
align-items: center;
}
.personDiv{
    width: 60px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center
}
.personInput{
    width: 310px;
    height: 36px;
    background-color: #F3F9FA;
    border: 0px solid #F3F9FA;
    border-color: #F3F9FA;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align:end;
    color: #00474B;
    mix-blend-mode: normal;
    display: flex;

}
.personInput:focus {
    outline-color: #F3F9FA;
  }
.personInput::-webkit-outer-spin-button,
.personInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bottomInput:hover{
    cursor: pointer;
    background: #F3F9FA;
border: 2px solid #26C2AE;
border-radius: 5px;
}
.personInput:hover{
    cursor: pointer;
}
.input:hover{
    cursor: pointer;
}
.card3{
    height: 280px;
    width: 405px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card4{
    width: 405px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.p1{
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;

}
.p2{
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 19px;
color: #7F9D9F;
}
.p3{
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 71px;
text-align: right;
letter-spacing: -1px;
color: #26C2AE;
}
.tipAmount{
    width: 150px;
}
.money{
    width: 150px;
}
.together{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.together2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.p4{
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
.p5{
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 19px;
color: #7F9D9F;
}
.total{
    width: 150px;
}
.p6{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    text-align: right;
    letter-spacing: -1px;
    color: #26C2AE;
}
.money2{
width: 150px;
}
.reset{
    background: #0D686D;
border-radius: 5px;
width: 333px;
height: 48px;
display: flex;
align-items: center;
justify-content: center;
}
.reset:hover{
    background: #9FE8DF;
border-radius: 5px;
cursor: pointer;
}
.reset:hover .p7{
opacity: 1;
}
.p7{
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #00474B;
mix-blend-mode: normal;
opacity: 0.35;
}
.help{
    height: 80px;
    width: 333px;
}
.p8{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.duv{
    display: flex;
    justify-content: space-between;

}
.NumberofPeople1{
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: right;
display: none;
color: #E17457;
}
@media (max-width:376px){
    .container{
        flex-wrap: wrap;
    }
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
}
